body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
}

/* main styles */

.main {
    display: flex;
    flex-direction: row-reverse ;
    width: 1200px;
    margin: 0 auto;
}
.main-content {
    background-color: #fff;
    box-shadow: 6px 6px 20px; color: rgba(0, 0, 0, 0.1);
    padding: 105px 90px
}
/* .about styles */
.about {
margin-bottom: 40px;
}
.about-position {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000;
margin-bottom: 20px;
}
.about-name {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000;
    margin-bottom: 24px;
}
.about-description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}
/* .projects styles */

.projects {   
 
    /* margin: 100px 90px 300px 60px;
    margin: 50px;
    margin: 100px 50px; */
}
.project-title {

}
/* work styles */
.work{
  
    /* padding: 100px 40px 50px 20px  */

}

/* Education styles */
.education {
 }
/* sidebar styles */

.sidebar {
    background-color: #1E2939;
    padding-top: 40px;
    width: 370px;
}
.photo {
    width: 370px;
    margin-bottom: 370;
}
.contacts ,
.tech-skills,
 .soft-skills{
    margin-left: 40px;
}

.contacts {
    margin-bottom: 50px;
}
.sidebar-title {
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-top: 0; 
    margin-bottom: 10px;
}

.contact-type {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff; 
    margin: right 5px; ;
}
.contact-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color:#565E6A ;
}
.tech-skills {
    margin-bottom: 45px;
}


.tech-skills-list, 
.soft-skills-list {
    color: #fff;
    padding: 0;
    margin-left: 20px;
}

.tech-skills-item,
.soft-skills-item {
    color:#FB6D3A ;
}
.tech-skills-text,
.soft-skills-text {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
